{% extends "base.html" %}
{% block title %}Recommmendations based on {{song}} {% endblock %}
{% block content %}
<h2 class="page-header">More music like <em>{{song}}</em> by {{artist}}:</h2>
    {% for result in tracks %}
    <div class="result-box">
        <img src={{ result['images']['coverart'] }} alt="Album art not found" />
        <div class="result-text">
            <h3>{{result['title']}}</h3>
            <h4>{{result['subtitle']}}</h4>
            <a href="/recommendations/{{result['title']}}/{{result['subtitle']}}/{{result['key']}}">See more like this</a>
            <a href="result['hub']['providers'][0]['actions'][0]['uri']">{{result['hub']['providers'][0]['caption']}}</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}