* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    margin: 0;
    padding: 0;
}

header, footer {
    width: 100%;
    padding: 10px;
    background-color: aquamarine;
    color: whitesmoke;
    position: fixed;
    display: flex;
}

header {
    top: 0;
    height: 60px;
}

header > img {
    height: 35px;
}

footer {
    bottom: 0;
}

.nav {
    padding: 1% 2%;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 1.3em;
}

#content {
    padding: 70px 30px;
    height: 100vh;
    background-color: whitesmoke;
}